body{
    text-align: center;
    background-color: bisque
}
.one{
    background-color: red;
    width: 100%;
    height: 100%;
}
.two{
    background-color: blue;
    padding: 10%;
    width: 40vh;
    height: 40vh;
}
.three{
    background-color: coral;
    padding: 10%;
    width: 50vh;
    height: 50vh;
    margin: auto;
}
.four{
    background-color: cyan;
    padding: 10%;
    width: 65vh;
    height:65vh;
}
.five{
    background-color: darkblue;
    padding: 10%;
    width: 80vh;
    height:80vh;
    margin: auto;
}
.one,.two,.three,.four,.five{
    border-radius: 50%;
}